<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dharamveer.mytogglebutton">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication">
        <activity
            android:name=".Calc2"
            android:exported="false" />
        <activity
            android:name=".HelloActivity"
            android:exported="false" />
        <activity
            android:name=".AnimalsInfo"
            android:exported="false" />
        <activity
            android:name=".MediaPlayerActivity"
            android:exported="false" />
        <activity
            android:name=".ListDataActivity"
            android:exported="false" />
        <activity
            android:name=".DBExampleActivity"
            android:exported="false" />
        <activity
            android:name=".NotificationActivity"
            android:exported="false" />
        <activity
            android:name=".TabsActivity"
            android:exported="false"
            android:label="@string/title_activity_tabs"
            android:theme="@style/Theme.MyApplication.NoActionBar" />
        <activity
            android:name=".sImpleBrowser"
            android:exported="false" />
        <activity
            android:name=".Timepicker"
            android:exported="false" />
        <activity
            android:name=".LoginForm"
            android:exported="false" />
        <activity
            android:name=".BroadcastExample"
            android:exported="false" />
        <activity
            android:name=".CheckBoxActivity"
            android:exported="false" />
        <activity
            android:name=".CalculatorActivity"
            android:exported="false" />
        <activity
            android:name=".ProgressBarActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>